$sedona-blue: #81b3d2;
$sedona-dark-blue: #669ec0;
$sedona-darkest-blue: #5496bd;
$sedona-gray: #f2f2f2;
$sedona-dark-gray: #e5e5e5;
$sedona-darkest-gray: #d5d5d5;
$sedona-gray-text: #333333;
$sedona-brown: #766357;
$sedona-dark-brown: #604e43;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
