.billboard__text,
.billboard__sedona {
  width: 320px;
  margin: 0 auto;
}

.billboard__sedona {
  display: none;
}

.billboard {
  box-sizing: border-box;
  min-height: 389px;
  padding: 90px 20px 0;
  background: url("../img/bg-back-mobile@1x.jpg") #e1eef6 no-repeat top center;

  &--compact {
    min-height: 160px;
    padding-top: 50px;
    background-position-y: bottom;

    .billboard__text {
      display: none;
    }

    .billboard__sedona {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .billboard {
    min-height: 518px;
    padding-top: 80px;
    margin-top: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &--compact {
      min-height: 290px;
      padding-top: 95px;
    }
  }

  .billboard__text,
  .billboard__sedona {
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .billboard {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &--compact {
      min-height: 300px;
      padding-top: 100px;
    }
  }
}
