.billboard__text {
  width: 320px;
  margin: 0 auto;
}

.billboard {
  position: relative;
  box-sizing: border-box;
  min-height: 389px;
  padding: 90px 20px 0;
  background: url("../img/bg-back-mobile@1x.jpg") #e1eef6 no-repeat top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: "";
    width: 320px;
    height: 26px;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
  }

  &--compact {
    min-height: 160px;
    padding: 50px 45px 0;
    background-position-y: bottom;
  }
}

@media (min-width: $tablet-width) {
  .billboard {
    min-height: 518px;
    padding-top: 80px;
    margin-top: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }

    &::after {
      width: 768px;
      height: 57px;
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
    }

    &--compact {
      min-height: 290px;
      padding-top: 95px;
    }
  }

  .billboard__text {
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .billboard {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }

    &::after {
      bottom: -1px;
      width: 1200px;
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
    }

    &--compact {
      min-height: 300px;
      padding-top: 100px;
    }
  }
}
