.btn {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 15px 20px;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $sedona-blue;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $sedona-dark-blue;
    outline: none;
    transition: background-color 0.3s;
  }

  &:active {
    background-color: $sedona-darkest-blue;
    color: rgba(white, 0.3);
    transition: background-color 0.3s, color 0.3s;
    outline: none;
  }

  &:disabled {
    background-color: $sedona-dark-gray;
  }

  &--w-100 {
    width: 100%;
  }

  &--social {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    min-height: 48px;
    padding: 0;

    svg {
      fill: white;
    }

    &:active {
      svg {
        fill: rgba(white, 0.3);
        transition: fill 0.3s;
      }
    }
  }
}
