.checkbox__indicator {
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  background-color: $sedona-gray;
}

.checkbox__input:checked + .checkbox__indicator {
  &::before {
    display: block;
    content: "";
    width: 23px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 18px;
    background-image: url("../img/icon-tick.svg");
  }
}

.checkbox__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.checkbox {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 85px;
  position: relative;

  &:hover,
  &:focus {
    .checkbox__indicator {
      background-color: $sedona-dark-gray;
      transition: background-color 0.3s;
    }
  }

  &:active {
    .checkbox__indicator {
      background-color: $sedona-darkest-gray;
      transition: background-color 0.3s;
    }

    .checkbox__input:checked + .checkbox__indicator {
      &::before {
        opacity: 0.3;
        transition: opacity 0.3s;
      }
    }
  }
}
