.checkbox__indicator {
  display: block;
  width: 46px;
  height: 46px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  background-color: $sedona-gray;
}

.checkbox__input:checked + .checkbox__indicator {
  &::before {
    display: block;
    content: "";
    width: 23px;
    height: 16px;
    position: absolute;
    top: 15px;
    left: 11px;
    background-image: url("../img/icon-tick.svg");
  }
}

.checkbox {
  display: block;
  height: 46px;
  padding-left: 60px;
  position: relative;
  line-height: 46px;
  font-weight: bold;
  text-transform: none;

  &:hover,
  &:focus {
    .checkbox__indicator {
      background-color: $sedona-dark-gray;
      transition: background-color 0.3s;
    }
  }

  &:active {
    .checkbox__indicator {
      background-color: $sedona-darkest-gray;
      transition: background-color 0.3s;
    }

    .checkbox__input:checked + .checkbox__indicator {
      &::before {
        opacity: 0.3;
        transition: opacity 0.3s;
      }
    }
  }
}
