@import "radio";
@import "checkbox";

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.fieldset__legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.fieldset__input,
.fieldset__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  background-color: $sedona-gray;
  border: 2px solid $sedona-gray;

  &:hover {
    background-color: $sedona-dark-gray;
    border-color: $sedona-dark-gray;
  }

  &:focus {
    background-color: white;
    border-color: $sedona-dark-gray;
  }

  &::placeholder {
    color: black;
  }
}

.fieldset__input {
  margin: 10px 0 0 0;
}

.fieldset__textarea {
  width: 100%;
  min-width: 280px;
  min-height: 160px;
  resize: vertical;
}

.fieldset__label-text {
  padding-left: 15px;
  line-height: 26px;
  color: $sedona-gray-text;
}

.fieldset__label {
  display: block;
  margin-bottom: 20px;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  &--row {
    display: flex;
    align-items: center;

    .fieldset__label-text {
      padding-left: 0;
    }

    .fieldset__input {
      width: 150px;
      flex-grow: 1;
      margin: 0 0 0 15px;
    }
  }

  &--radio,
  &--checkbox {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .fieldset {
    display: flex;
    flex-direction: column;
  }

  .fieldset__legend {
    overflow: hidden;
    margin-bottom: 30px;

    span {
      display: inline-block;
      position: relative;

      &::before,
      &::after {
        display: block;
        height: 1px;
        width: 1200px;
        position: absolute;
        top: 50%;
        content: "";
        background-color: $sedona-darkest-gray;
      }

      &::before {
        right: 100%;
        margin-right: 40px;
      }

      &::after {
        left: 100%;
        margin-left: 40px;
      }
    }
  }

  .fieldset--expresion .fieldset__legend,
  .fieldset--name .fieldset__legend {
    text-align: left;
    margin-bottom: 60px;

    span::before,
    span::after {
      display: none;
    }
  }

  .fieldset--name {
    padding-left: 60px;
  }

  .fieldset--sights {
    flex-direction: row;
    flex-wrap: wrap;

    .fieldset__label {
      box-sizing: border-box;
      width: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .fieldset--sights {
    justify-content: space-between;

    .fieldset__label {
      width: auto;
      margin-bottom: 0;
    }
  }

  .fieldset--contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .fieldset__label {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .fieldset__label-text {
      padding: 0;
      margin: 0 15px 0 0;
      white-space: nowrap;
    }

    .fieldset__input {
      width: 320px;
      margin: 0;
    }

    .fieldset__label-text span {
      display: none;
    }
  }

  .fieldset__legend {
    margin-bottom: 60px;
  }

  .fieldset--expresion .fieldset__legend {
    text-align: center;
  }

  .fieldset--contact .fieldset__legend {
    margin-bottom: 70px;
  }

  .fieldset--sights .fieldset__legend {
    margin-bottom: 45px;
  }
}
