.find-hotel {
  padding: 30px 20px 50px;

  .btn {
    font-size: 21px;
    line-height: 26px;
  }
}

.find-hotel__title {
  margin: 0 0 20px;
  font-size: 21px;
}

.find-hotel__desc {
  margin: 0 0 40px;
  line-height: 24px;
}
