.find-hotel {
  padding: 25px 20px 55px;

  .btn {
    font-size: 21px;
    line-height: 26px;
  }
}

.find-hotel__title {
  margin: 0 0 20px;
  font-size: 21px;
}

.find-hotel__desc {
  margin: 0 0 35px;
  line-height: 24px;
}

@media (max-width: $mobile-width-only) {
  .find-hotel__desc {
    br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .find-hotel {
    padding: 55px 155px 60px;
  }

  .find-hotel__title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .find-hotel__desc {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .find-hotel {
    padding: 55px 370px 65px;
  }

  .find-hotel__desc {
    margin-bottom: 50px;
  }
}
