.find-hotel {
  padding: 30px 20px 50px;

  .btn {
    font-size: 21px;
    line-height: 26px;
  }
}

.find-hotel__title {
  margin: 0 0 20px;
  font-size: 21px;
}

.find-hotel__desc {
  margin: 0 0 40px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .find-hotel {
    padding: 60px 155px;
  }

  .find-hotel__title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .find-hotel__desc {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .find-hotel {
    padding: 60px 370px;
  }
}
