@import "social-list";
@import "htmlacademy-logo";

.footer {
  padding: 35px 20px 20px;
  text-align: center;
}

.footer__hash-tag {
  margin: 0 0 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer__social-list {
  margin: 0 0 40px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.footer__htmlacademy-logo {
  margin-top: 10px;
  margin-left: 10px;
}
