.footer {
  padding: 35px 20px;
  text-align: center;
}

.footer__hash-tag {
  margin: 0 0 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer__social-list {
  margin: 0 0 40px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.footer__htmlacademy-logo {
  margin-top: 10px;
  margin-left: 10px;
}

@media (min-width: $width-tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
  }

  .footer__hash-tag,
  .footer__social-list,
  .footer__copyright {
    margin: 0;
  }
}

@media (min-width: $width-desktop) {
  .footer {
    padding: 35px 120px;
  }
}
