.header__sedona-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.header__menu-btn {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .header__menu-btn {
    display: block;
    position: absolute;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--open {
      width: 23px;
      height: 22px;
      top: 17px;
      right: 18px;

      svg {
        fill: $sedona-blue;
      }
    }

    &--close {
      width: 22px;
      height: 22px;
      top: 17px;
      right: 16px;

      svg {
        fill: white;
      }
    }
  }

  .header__billboard {
    padding-top: 55px;
    position: relative;
  }

  .header__site-navigation {
    position: relative;
  }

  .header__site-navigation--closed {
    .site-navigation {
      display: none;
    }

    .header__menu-btn--close {
      display: none;
    }
  }

  .header__site-navigation--opened {
    .site-navigation {
      display: block;
    }

    .header__menu-btn--close {
      display: block;
    }
  }

  .header--no-js {
    .site-navigation {
      display: block;
    }

    .header__menu-btn {
      display: none;
    }
  }
}
