.htmlacademy-logo {
  &:hover,
  &:focus {
    svg {
      fill: $sedona-blue;
      transition: fill 0.3s;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
      transition: opacity 0.3s;
    }
  }
}
