.main__text {
  padding: 45px 25px 30px;
}

@media (max-width: $mobile-width-only) {
  .main--index .main__text {
    padding-bottom: 0;
  }
}

.main__title {
  margin: 0 0 30px;
}

.main__desc {
  margin: 0;
  line-height: 24px;
  color: $sedona-gray-text;

  .main--index & {
    line-height: 26px;
  }
}

@media (min-width: $tablet-width) {
  .main__text {
    padding: 50px 140px;
  }

  .main__desc {
    line-height: 26px;
  }

  .main {
    &--photo {
      .main__text {
        padding: 75px 170px;
      }
    }

    &--form {
      .main__text {
        padding: 75px 165px 70px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main__text {
    padding: 50px 355px;
  }

  .main--photo .main__text,
  .main--form .main__text {
    padding: 110px 380px 60px;
  }
}
