.reason {
  padding: 40px 30px;
  position: relative;
  background-color: #eeeeee;

  &--blue {
    color: white;
    background-color: $sedona-blue;
  }

  &--photo {
    padding: 0;
  }

  &--with-icon {
    padding: 40px 40px 0 70px;
    text-align: left;
    background-color: white;

    &:last-child {
      padding-bottom: 40px;
    }
  }
}

.reason__title {
  margin: 0 0 10px;
}

.reason__number {
  margin: 0 0 20px;
}

.reason__desc {
  margin-bottom: 0;
}

.reason__photo {
  width: 320px;
  height: 260px;
  margin: 0 auto;
}

.reason__icon {
  position: absolute;
  top: 30px;
  left: 20px;
}

@media (max-width: $mobile-width-only) {
  .reason:first-child {
    padding-top: 80px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      content: "";
      width: 320px;
      height: 37px;
      background: url("../img/bg-triangle.svg") no-repeat;
    }
  }

  .reason--border {
    &::after {
      display: block;
      content: "";
      height: 1px;
      width: 87.5%;
      bottom: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: $sedona-darkest-gray;
    }
  }
}

@media (min-width: $tablet-width) {
  .reason {
    box-sizing: border-box;
    width: 256px;
    min-height: 256px;
    padding: 45px;

    &--photo {
      box-sizing: border-box;
      display: flex;
      padding: 0;
      width: 512px;
    }

    &--with-icon {
      min-height: 330px;
      padding: 60px 50px;
      text-align: center;
    }
  }

  .reason--gift {
    order: 3;
  }

  .reason__icon {
    position: static;
    margin: 0 auto 20px;
  }

  .reason__photo {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .reason {
    width: 400px;

    &--photo {
      width: 800px;
    }
  }

  .reason__photo {
    width: 800px;
    height: 256px;
  }
}
