.review-form {
  padding-bottom: 40px;
}

.review-form__fieldset {
  display: block;
  padding: 20px;
  border-top: 1px solid $sedona-dark-gray;

  &--submit {
    border-top: none;
  }
}

.review-form__submit-btn {
  width: 100%;
}

.review-form__required-fields {
  display: none;
}

@media (min-width: $tablet-width) {
  .review-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 60px;
  }

  .review-form__fieldset {
    box-sizing: border-box;
    border: none;
    padding: 0 0;
    margin-bottom: 60px;

    &--w-100 {
      width: 100%;
    }

    &--w-50 {
      width: 50%;
    }

    &--expresion {
      order: -1;
      border-right: 1px solid $sedona-darkest-gray;
    }

    &--submit {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .review-form__submit-btn {
    width: 50%;
  }

  .review-form__required-fields {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .review-form {
    padding: 0 120px 60px;
  }
}
