.sedona-logo {
  display: block;
  width: 102px;
  height: 84px;
  background: url("../img/logo-sedona-mobile.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .sedona-logo {
    background: url("../img/logo-sedona-tablet.svg") no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .sedona-logo {
    width: 188px;
    height: 96px;
    background: url("../img/logo-sedona-desktop.svg") no-repeat;
  }
}
