.site-navigation {
  @include reset-list();
}

.site-navigation__link {
  width: 100%;
  padding: 0 20px;
  color: white;
}

.site-navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: $sedona-blue;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:hover,
  &:focus {
    background-color: $sedona-dark-blue;
    transition: background-color 0.3s;
  }

  &:active {
    background-color: $sedona-darkest-blue;
    transition: background-color 0.3s;

    .site-navigation__link {
      opacity: 0.3;
      transition: opacity 0.3s;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
  }

  .site-navigation__link {
    color: black;
    line-height: 54px;
  }

  .site-navigation__item {
    width: 153px;
    align-self: end;
    font-size: 14px;
    line-height: 26px;
    background-color: white;
    border: none;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(3) {
      margin-left: auto;
    }

    &:hover,
    &:focus {
      background-color: white;

      .site-navigation__link {
        color: $sedona-blue;
        transition: color 0.3s;
      }
    }

    &:active {
      background-color: white;

      .site-navigation__link {
        color: rgba(black, 0.3);
        transition: color 0.3s;
      }
    }

    &--active {
      .site-navigation__link {
        color: $sedona-brown;
      }

      &:hover,
      &:focus {
        .site-navigation__link {
          color: $sedona-dark-brown;
          transition: color 0.3s;
        }
      }

      &:active {
        .site-navigation__link {
          color: rgba($sedona-dark-brown, 0.3);
          transition: color 0.3s;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    width: $desktop-width;
  }

  .site-navigation__item {
    width: 240px;
  }
}
