.tile {
  font-size: 14px;
  line-height: 24px;
}

.tile__photo {
  width: 280px;
  height: 280px;
}

.tile__info {
  padding-top: 20px;
}

.tile__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.tile__author {
  display: block;
  text-transform: none;
  margin-bottom: 10px;
}

.tile__likes {
  display: block;
  height: 20px;
  font-weight: bold;
}

.tile__like-icon {
  display: inline-block;
  width: 22px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.3;
  background-image: url("../img/icon-like.svg");
}

@media (min-width: $tablet-width) {
  .tile__photo {
    width: 324px;
    height: 267px;
  }

  .photo-list__item--w-100 .tile__photo {
    width: 648px;
  }

  .tile__info {
    padding: 20px;
    position: relative;
    background-color: $sedona-gray;
  }

  .tile__likes {
    position: absolute;
    right: 20px;
    top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .tile {
    position: relative;
  }

  .tile__photo {
    width: 400px;
    height: 267px;
  }

  .photo-list__item--w-100 .tile__photo {
    width: 1200px;
  }

  .tile__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
    background-color: rgba(black, 0.3);
  }
}
