.tile {
  font-size: 14px;
  line-height: 24px;
}

.tile__photo {
  margin-bottom: 20px;
}

.tile__title {
  margin: 0;
  font-weight: bold;
}

.tile__author {
  display: block;
  text-transform: none;
  margin-bottom: 10px;
}

.tile__likes {
  display: block;
  height: 20px;
  font-weight: bold;
}

.tile__like-icon {
  display: inline-block;
  width: 22px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.3;
  background-image: url("../../img/icon-like.svg");
}
