.video__legend {
  padding: 40px;

  h3 {
    margin: 0 0 35px;
  }

  p {
    margin: 0;
  }
}


@media (min-width: $tablet-width) {
  .video {
    padding: 0 60px 40px;
  }

  .video__legend {
    padding: 70px 120px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 0 200px 40px;
  }

  .video__legend {
    padding: 70px 190px;
  }
}
