.video-player {
  position: relative;
}

.video-player__screen {
  width: 320px;
  height: 201px;
  background: url("../img/video-mobile@1x.jpg") no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.video-player__controls {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  height: 65px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: $sedona-gray;
}

.video-player__btn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  &--subtitles {
    margin: 0 30px 0 auto;
  }

  path,
  polygon {
    fill: #5c6870;
  }
}

.video-player__progress {
  width: 280px;
  height: 45px;
}

@media (max-width: $mobile-width-only) {
  .video-player__progress {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(black, 0.6);
  }
}

.video-player__progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 84%;
  height: 3px;
  background-color: rgba(white, 0.2);
}

.video-player__progress-indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
  display: block;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .video-player__screen {
    width: 648px;
    height: 500px;
    background: url("../img/video-tablet@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }

  .video-player__controls {
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    height: 93px;
    padding: 0 40px;
    background-color: rgba(black, 0.6);
  }

  .video-player__btn {
    margin: 0;

    path,
    polygon {
      fill: white;
    }
  }

  .video-player__progress {
    width: 389px;
  }

  .video-player__progress-bar {
    position: relative;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .video-player__screen {
    width: 800px;
    height: 500px;
    background: url("../img/video-desktop@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 800px auto;
    }
  }

  .video-player__progress {
    width: 540px;
  }
}
